li.acs-megamenu-parent ul.mega-menu-container{
    position: fixed;
    left: 0;	
    width: 100%;
}
li.acs-megamenu-container{
	margin: 0!important;
	padding: 0!important;
}
li.acs-megamenu-container span{
	display: none;
}
div.menu-item-content{
	text-align: center;
}
div.acs-menu-container .acs-menu-column{
	float: left;
	display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    padding: 0 10px;
    box-shadow: none;
    background: transparent;
    transform: none !important;
    -webkit-transform: none !important;
}
div.acs-menu-container{
	display: inline-flex;
    width: 100%;
}
div.acs-menu-container.columns-1{
	max-width: 300px;
}
div.acs-menu-container.columns-2{
	max-width: 600px;
}
div.acs-menu-container.columns-3{
	max-width: 900px;
}
div.acs-menu-container.columns-4{
	max-width: 1200px;
}
div.acs-menu-container.columns-5{
	max-width: 1500px;
}
.acs-menu-column img{
	max-width: 300px;
}
.acs-menu-column.acs-col-1-1{
	width: 100%;
}
.acs-menu-column.acs-col-1-2{
	width: 50%;
}
.acs-menu-column.acs-col-1-3{
	width: 33%;
}
.acs-menu-column.acs-col-1-4{
	width: 25%;
}
.acs-menu-column.acs-col-1-5{
	width: 20%;
}
div.acs-menu-container ul.acs-menu-column li.acs-list-element{
	list-style: none;
	margin-bottom: 0;
	text-align: left;
	padding: 0 25px;
}
div.acs-menu-container ul.acs-menu-column li.acs-list-element a.acs-link-element{
	font-size: 1em;
    line-height: 2;
    color: #333;
	padding: 5px;
}
div.acs-menu-container ul.acs-menu-column li.acs-list-element a.acs-link-element:hover{
	background: #eee;
}

/*Media Queries*/

@media (max-width: 1200px) {
	.side-menu li.acs-megamenu-parent{
		margin-bottom: 0;
	}
	li.acs-megamenu-parent ul.mega-menu-container {
    	position: relative;
    	left: unset;
    	width: 100%;
    	display: inline-block;
    	padding: 10px 0;
	}
	div.acs-menu-container {
	    display: block;
	}
	div.acs-menu-container .acs-menu-column.img-column {
    	display: none;
	}
	.acs-menu-column.acs-col-1-2{
		width: 100%;
	}
	.acs-menu-column.acs-col-1-3{
		width: 100%;
	}
	.acs-menu-column.acs-col-1-4{
		width: 100%;
	}
	.acs-menu-column.acs-col-1-5{
		width: 100%;
	}
	div.acs-menu-container ul.acs-menu-column li.acs-list-element {
    	padding: 0;
	}
}

/*Media Queries*/
